flow.txt
[{"id":"a103c86d.97af58","type":"mqtt out","z":"6e7a97ae.ecd0f8","name":"","topic":"masa/leduri","qos":"","retain":"","broker":"81f8c599.6a0168","x":587,"y":310.75,"wires":[]},{"id":"f70e6476.525b28","type":"mqtt out","z":"6e7a97ae.ecd0f8","name":"","topic":"masa/leduri/culoare","qos":"","retain":"","broker":"81f8c599.6a0168","x":1502,"y":473.75,"wires":[]},{"id":"701725ac.6af51c","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"rainbow","payloadType":"str","repeat":"","crontab":"","once":false,"x":301,"y":193.75,"wires":[["a103c86d.97af58"]]},{"id":"c630f51e.cbc018","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"verde","payloadType":"str","repeat":"","crontab":"","once":false,"x":825,"y":247.75,"wires":[["f70e6476.525b28"]]},{"id":"931f6480.6c74d8","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"rosu","payloadType":"str","repeat":"","crontab":"","once":false,"x":822,"y":289.75,"wires":[["f70e6476.525b28"]]},{"id":"627a252b.76bebc","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"67e59628.238f38","order":1,"width":"6","height":"1","name":"","mode":"color","delay":300,"label":"","topic":"","x":810,"y":334.75,"wires":[["f70e6476.525b28"]]},{"id":"7193eb4e.885f84","type":"ui_slider","z":"6e7a97ae.ecd0f8","group":"67e59628.238f38","order":3,"width":"6","height":"1","name":"","label":"green","topic":"green","min":0,"max":"255","x":804,"y":442.75,"wires":[["d731cb60.a52b78"]]},{"id":"9d40c04.b065e4","type":"ui_slider","z":"6e7a97ae.ecd0f8","group":"67e59628.238f38","order":2,"width":"6","height":"1","name":"red","label":"red","topic":"red","min":0,"max":"255","x":759,"y":392.75,"wires":[["df7b6118.98bad"]]},{"id":"3383f33c.41132c","type":"ui_slider","z":"6e7a97ae.ecd0f8","group":"67e59628.238f38","order":4,"width":"6","height":"1","name":"blue","label":"blue","topic":"","min":0,"max":"255","x":805,"y":497.75,"wires":[["cf670e40.5f2a5"]]},{"id":"d731cb60.a52b78","type":"function","z":"6e7a97ae.ecd0f8","name":"","func":"msg.payload= \"g\"+ msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1064,"y":406.75,"wires":[["f70e6476.525b28"]]},{"id":"18b966f4.51a029","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":298,"y":242.75,"wires":[["a103c86d.97af58"]]},{"id":"7204ef5f.ca8be","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"kitt","payloadType":"str","repeat":"","crontab":"","once":false,"x":299,"y":288.75,"wires":[["a103c86d.97af58"]]},{"id":"f9c610c4.23012","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"rgbloop","payloadType":"str","repeat":"","crontab":"","once":false,"x":305,"y":336.75,"wires":[["a103c86d.97af58"]]},{"id":"de7c916f.fb5a4","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"running","payloadType":"str","repeat":"","crontab":"","once":false,"x":308,"y":385.75,"wires":[["a103c86d.97af58"]]},{"id":"309d84e9.8ceb3c","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"cylon","payloadType":"str","repeat":"","crontab":"","once":false,"x":308,"y":434.75,"wires":[["a103c86d.97af58"]]},{"id":"df7b6118.98bad","type":"function","z":"6e7a97ae.ecd0f8","name":"","func":"msg.payload= \"r\"+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1064,"y":359.75,"wires":[["f70e6476.525b28"]]},{"id":"cf670e40.5f2a5","type":"function","z":"6e7a97ae.ecd0f8","name":"","func":"msg.payload= \"b\"+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1054,"y":465.75,"wires":[["f70e6476.525b28"]]},{"id":"b2a7ef84.b6d22","type":"comment","z":"6e7a97ae.ecd0f8","name":"controller leduri ","info":"","x":568.5,"y":73.75,"wires":[]},{"id":"48d2f8b2.88bfb8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"rainbow","group":"ed6fa34f.dee02","order":2,"width":"3","height":"1","label":"rainbow","color":"","icon":"","payload":"rainbow","payloadType":"str","topic":"","x":133,"y":182.75,"wires":[["a103c86d.97af58"]]},{"id":"fff6c808.023b28","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"kitt","group":"ed6fa34f.dee02","order":3,"width":"3","height":"1","label":"Kitt","color":"","icon":"","payload":"kitt","payloadType":"str","topic":"","x":130,"y":245.75,"wires":[["a103c86d.97af58"]]},{"id":"7f30f463.151fec","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"Rgbloop","group":"ed6fa34f.dee02","order":4,"width":"3","height":"1","label":"Rgbloop","color":"","icon":"","payload":"rgbloop","payloadType":"str","topic":"","x":137,"y":295.75,"wires":[["a103c86d.97af58"]]},{"id":"c8dcb965.7cf038","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"running","group":"ed6fa34f.dee02","order":5,"width":"3","height":"1","label":"running","color":"","icon":"","payload":"running","payloadType":"str","topic":"","x":116,"y":344.75,"wires":[["a103c86d.97af58"]]},{"id":"a558ae33.863b9","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"cylon","group":"ed6fa34f.dee02","order":6,"width":"3","height":"1","label":"cylon","color":"","icon":"","payload":"cylon","payloadType":"str","topic":"","x":119,"y":386.75,"wires":[["a103c86d.97af58"]]},{"id":"95f3fc9f.c1037","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"OFF","group":"ed6fa34f.dee02","order":12,"width":0,"height":0,"label":"OFF","color":"","icon":"","payload":"off","payloadType":"str","topic":"","x":115,"y":432.75,"wires":[["a103c86d.97af58"]]},{"id":"507e8a4a.464394","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":8,"width":"1","height":"1","label":"","color":"Aqua","icon":"lens","payload":"#00FFFF","payloadType":"str","topic":"","x":1200.0000610351562,"y":98.75,"wires":[["f70e6476.525b28"]]},{"id":"af3fb86b.a5bea8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":9,"width":"1","height":"1","label":"","color":"BlueViolet","icon":"lens","payload":"#8A2BE2","payloadType":"str","topic":"","x":1203.0000610351562,"y":136.75,"wires":[["f70e6476.525b28"]]},{"id":"aea94319.2c22d","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":10,"width":"1","height":"1","label":"","color":"CadetBlue","icon":"lens","payload":"#5F9EA0","payloadType":"str","topic":"","x":1197.0000610351562,"y":176.75,"wires":[["f70e6476.525b28"]]},{"id":"d33e581e.f75dd8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":11,"width":"1","height":"1","label":"","color":"Chocolate","icon":"lens","payload":"#D2691E","payloadType":"str","topic":"","x":1185.0000610351562,"y":317.75,"wires":[["f70e6476.525b28"]]},{"id":"639e4185.80f22","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":12,"width":"1","height":"1","label":"","color":"Crimson","icon":"lens","payload":"#DC143C","payloadType":"str","topic":"","x":1078,"y":53.75,"wires":[["f70e6476.525b28"]]},{"id":"a917454a.516ff8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":13,"width":"1","height":"1","label":"","color":"DeepPink","icon":"lens","payload":"#FF1493","payloadType":"str","topic":"","x":1079,"y":91.75,"wires":[["f70e6476.525b28"]]},{"id":"4f0bd0c3.cffdc","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":14,"width":"1","height":"1","label":"","color":"DarkViolet","icon":"lens","payload":"#9400D3","payloadType":"str","topic":"","x":1080.0000610351562,"y":126.75,"wires":[["f70e6476.525b28"]]},{"id":"819a6f9.3db289","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":15,"width":"1","height":"1","label":"","color":"FireBrick","icon":"lens","payload":"#B22222","payloadType":"str","topic":"","x":1079.0000610351562,"y":164.75,"wires":[["f70e6476.525b28"]]},{"id":"f20c6d74.ac59c","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":16,"width":"1","height":"1","label":"","color":"GoldenRod","icon":"lens","payload":"#DAA520","payloadType":"str","topic":"","x":1076,"y":201.75,"wires":[["f70e6476.525b28"]]},{"id":"81640edb.af77a","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":17,"width":"1","height":"1","label":"","color":"Indigo","icon":"lens","payload":"#4B0082","payloadType":"str","topic":"","x":1068,"y":274.75,"wires":[["f70e6476.525b28"]]},{"id":"c45e3f97.cd679","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":18,"width":"1","height":"1","label":"","color":"MediumSpringGreen","icon":"lens","payload":"#00FA9A","payloadType":"str","topic":"","x":1061,"y":310.75,"wires":[["f70e6476.525b28"]]},{"id":"2c4a4a4c.e8f5d6","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":19,"width":"1","height":"1","label":"","color":"OrangeRed","icon":"lens","payload":"#FF4500","payloadType":"str","topic":"","x":1464.6043090820312,"y":107.87158203125,"wires":[["f70e6476.525b28"]]},{"id":"94292e5e.52274","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":20,"width":"1","height":"1","label":"","color":"YellowGreen","icon":"lens","payload":"#9ACD32","payloadType":"str","topic":"","x":1457.6112670898438,"y":67.875,"wires":[["f70e6476.525b28"]]},{"id":"e314ad3.8bd7a5","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":21,"width":"1","height":"1","label":"","color":"Tomato","icon":"lens","payload":"#FF6347","payloadType":"str","topic":"","x":1206.6077270507812,"y":56.875,"wires":[["f70e6476.525b28"]]},{"id":"beda056e.b414e8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":22,"width":"1","height":"1","label":"","color":"Violet","icon":"lens","payload":"#EE82EE","payloadType":"str","topic":"","x":1199.6112670898438,"y":221.87158203125,"wires":[["f70e6476.525b28"]]},{"id":"271b0409.e7280c","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":23,"width":"1","height":"1","label":"","color":"SlateBlue","icon":"lens","payload":"#6A5ACD","payloadType":"str","topic":"","x":1187.6181030273438,"y":267.875,"wires":[["f70e6476.525b28"]]},{"id":"6a02d3f7.35502c","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":24,"width":"1","height":"1","label":"","color":"SeaGreen","icon":"lens","payload":"#2E8B57","payloadType":"str","topic":"","x":1332.6112670898438,"y":66.8612060546875,"wires":[["f70e6476.525b28"]]},{"id":"9bad00ea.4aa38","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":25,"width":"1","height":"1","label":"","color":"OliveDrab","icon":"lens","payload":"#6B8E23","payloadType":"str","topic":"","x":1332.6146850585938,"y":106.875,"wires":[["f70e6476.525b28"]]},{"id":"6ecb1a6c.e31d34","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":26,"width":"1","height":"1","label":"","color":"Lime","icon":"lens","payload":"#00FF00","payloadType":"str","topic":"","x":1328.6146850585938,"y":150.8646240234375,"wires":[["f70e6476.525b28"]]},{"id":"5f7f6b58.b37b34","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":27,"width":"1","height":"1","label":"","color":"Gold","icon":"lens","payload":"#FFD700","payloadType":"str","topic":"","x":1325.6146850585938,"y":192.8681640625,"wires":[["f70e6476.525b28"]]},{"id":"6d053d0a.644504","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":28,"width":"1","height":"1","label":"","color":"DarkOrange","icon":"lens","payload":"#FF8C00","payloadType":"str","topic":"","x":1322.6146850585938,"y":233.87158203125,"wires":[["f70e6476.525b28"]]},{"id":"6ca6a591.bf5ecc","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":29,"width":"1","height":"1","label":"","color":"ForestGreen","icon":"lens","payload":"#228B22","payloadType":"str","topic":"","x":1318.6077270507812,"y":275.875,"wires":[["f70e6476.525b28"]]},{"id":"f4a001f4.822cd","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":30,"width":"1","height":"1","label":"","color":"DarkSlateGray","icon":"lens","payload":"#2F4F4F","payloadType":"str","topic":"","x":1315.6078491210938,"y":315.875,"wires":[["f70e6476.525b28"]]},{"id":"48a2e681.bb1bb8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"67e59628.238f38","order":31,"width":"1","height":"1","label":"","color":"Peru","icon":"lens","payload":"#CD853F","payloadType":"str","topic":"","x":1074.673583984375,"y":239.3057861328125,"wires":[["f70e6476.525b28"]]},{"id":"db583ea.1ed53c","type":"mqtt out","z":"6e7a97ae.ecd0f8","name":"","topic":"masa/leduri/control/running","qos":"","retain":"","broker":"81f8c599.6a0168","x":801.8957977294922,"y":732.638916015625,"wires":[]},{"id":"27b90b39.d11ec4","type":"debug","z":"6e7a97ae.ecd0f8","name":"","active":true,"console":"false","complete":"payload","x":689.829833984375,"y":662.7982788085938,"wires":[]},{"id":"f032efaf.ef7b2","type":"function","z":"6e7a97ae.ecd0f8","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nvar msg2 = [];\nswitch (msg.topic){\n    case 'color':\n        context.msg.culoare = msg.payload;\n       context.msg.tite  = \"tralalal\"\n        break;\n    case 'viteza':\n        context.msg.viteza = msg.payload;\n        \n        break;\n    case 'submit':\n        if(context.msg.topic){\n            \n            context.msg.payload =context.msg.payload +\" \" + context.msg.viteza + context.msg.tite;\n            return [context.msg , null];\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return [context.msg , null];\n        }\n        break;\n   case 'default':\n        context.msg.payload = \"default\";\n        return [null , context.msg];\n}","outputs":"2","noerr":0,"x":447.89576721191406,"y":811.08349609375,"wires":[["27b90b39.d11ec4","571185fd.01d22c"],["db583ea.1ed53c"]]},{"id":"ba4da063.a7124","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"bef3315a.0c53b","order":1,"width":"6","height":"1","name":"","mode":"color","delay":300,"label":"","topic":"color","x":195.8958282470703,"y":765.194580078125,"wires":[["f032efaf.ef7b2"]]},{"id":"96fdf796.746e18","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"bef3315a.0c53b","order":4,"width":"3","height":"1","label":"Defaults","color":"","icon":"","payload":"default","payloadType":"str","topic":"default","x":184.82986450195312,"y":819.628567207008,"wires":[["f032efaf.ef7b2"]]},{"id":"285b4b2b.2ad654","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"bef3315a.0c53b","order":3,"width":"3","height":"1","label":"Submit","color":"","icon":"","payload":"submit","payloadType":"str","topic":"submit","x":168.8402862548828,"y":859.628567207008,"wires":[["f032efaf.ef7b2"]]},{"id":"79710790.ec90e8","type":"ui_numeric","z":"6e7a97ae.ecd0f8","group":"bef3315a.0c53b","order":2,"width":0,"height":0,"name":"","label":"WaveLenght","topic":"viteza","format":"{{value}}","min":0,"max":"40","x":175.83680725097656,"y":907.458401191383,"wires":[["f032efaf.ef7b2"]]},{"id":"571185fd.01d22c","type":"function","z":"6e7a97ae.ecd0f8","name":"","func":"context.msg = context.msg || {};\ncontext.msg.payload = msg.culoare+\":\" + msg.viteza;\nreturn context.msg;\n\n","outputs":1,"noerr":0,"x":678.8402862548828,"y":851.2084250685621,"wires":[["db583ea.1ed53c"]]},{"id":"b5578401.565728","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"twinkle","payloadType":"str","repeat":"","crontab":"","once":false,"x":332.5,"y":492.5,"wires":[["a103c86d.97af58"]]},{"id":"2558739a.b2594c","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"colorwipe","payloadType":"str","repeat":"","crontab":"","once":false,"x":332.5,"y":541.25,"wires":[["a103c86d.97af58"]]},{"id":"8f8120.0ac47ee","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"sparkle","payloadType":"str","repeat":"","crontab":"","once":false,"x":337.50000381469727,"y":585.0000076293945,"wires":[["a103c86d.97af58"]]},{"id":"abea4457.898ab8","type":"mqtt in","z":"6e7a97ae.ecd0f8","name":"","topic":"outTopic","qos":"2","broker":"8730046e.125ae8","x":1205,"y":748.75,"wires":[["c72d7a5a.4a24a8","23ec85cb.8fa04a"]]},{"id":"c72d7a5a.4a24a8","type":"debug","z":"6e7a97ae.ecd0f8","name":"","active":true,"console":"false","complete":"true","x":1408,"y":762.0381454715007,"wires":[]},{"id":"23ec85cb.8fa04a","type":"ui_text","z":"6e7a97ae.ecd0f8","group":"ed6fa34f.dee02","order":1,"width":0,"height":0,"name":"","label":"Selected effect","format":"{{msg.payload}}","layout":"col-center","x":1611.0069885253906,"y":713.107666015625,"wires":[]},{"id":"7b5b7042.2c0d5","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"twinkle","group":"ed6fa34f.dee02","order":7,"width":"3","height":"1","label":"twinkle","color":"","icon":"","payload":"twinkle","payloadType":"str","topic":"","x":121.25,"y":496.25,"wires":[["a103c86d.97af58"]]},{"id":"8f87fda9.c8c75","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"colorwipe","group":"ed6fa34f.dee02","order":8,"width":"3","height":"1","label":"colorwipe","color":"","icon":"","payload":"colorwipe","payloadType":"str","topic":"","x":142.5,"y":550,"wires":[["a103c86d.97af58"]]},{"id":"e4cbf498.5eebf8","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"sparkle","group":"ed6fa34f.dee02","order":9,"width":"3","height":"1","label":"sparkle","color":"","icon":"","payload":"sparkle","payloadType":"str","topic":"","x":137.5,"y":590,"wires":[["a103c86d.97af58"]]},{"id":"7da24ef4.f53e8","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":547.5,"y":505,"wires":[[]]},{"id":"e66d91f.1ecad7","type":"inject","z":"6e7a97ae.ecd0f8","name":"","topic":"","payload":"steag","payloadType":"str","repeat":"","crontab":"","once":false,"x":530,"y":435,"wires":[["a103c86d.97af58"]]},{"id":"d36af57a.3a2398","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"Color Fade","group":"ed6fa34f.dee02","order":10,"width":"3","height":"1","label":"Color Fade","color":"","icon":"","payload":"fade","payloadType":"str","topic":"","x":160,"y":642.5,"wires":[["a103c86d.97af58"]]},{"id":"c0178dfd.dc086","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"Tricolor","group":"ed6fa34f.dee02","order":11,"width":"3","height":"1","label":"Tricolor","color":"","icon":"","payload":"steag","payloadType":"str","topic":"","x":142.5,"y":688.75,"wires":[["a103c86d.97af58"]]},{"id":"a9f9aa11.1b8f48","type":"mqtt out","z":"6e7a97ae.ecd0f8","name":"","topic":"masa/leduri/control/cylon","qos":"","retain":"","broker":"81f8c599.6a0168","x":758.0555114746094,"y":967,"wires":[]},{"id":"700e35a2.f06e4c","type":"function","z":"6e7a97ae.ecd0f8","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nvar msg2 = [];\nswitch (msg.topic){\n    case 'color':\n        context.msg.culoare = msg.payload;\n       \n        break;\n    case 'size':\n        context.msg.eyesize = msg.payload;\n        \n        break;\n    case 'speed':\n        context.msg.speeddelay = msg.payload;\n        break;\n    case 'return':\n        context.msg.returndelay = msg.payload;\n        \n        break;\n    case 'submit':\n        if(context.msg.topic){\n            \n            context.msg.payload =context.msg.culoare +\" \" + context.msg.eyesize + context.msg.tite;\n            return [context.msg , null];\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return [context.msg , null];\n        }\n        break;\n   case 'default':\n        context.msg.payload = \"default\";\n        return [null , context.msg];\n}","outputs":"2","noerr":0,"x":414.05548095703125,"y":1045.444580078125,"wires":[["5a3f6494.bf5c7c"],["a9f9aa11.1b8f48"]]},{"id":"7e458645.11e0d8","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"ccc454d2.5f8138","order":1,"width":"6","height":"1","name":"","mode":"color","delay":300,"label":"","topic":"color","x":162.0555419921875,"y":999.5556640625,"wires":[["700e35a2.f06e4c"]]},{"id":"bd57c854.be6d38","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"ccc454d2.5f8138","order":6,"width":"3","height":"1","label":"Defaults","color":"","icon":"","payload":"default","payloadType":"str","topic":"default","x":150.9895782470703,"y":1053.989651191383,"wires":[["700e35a2.f06e4c"]]},{"id":"a7ec9c48.52b16","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"ccc454d2.5f8138","order":5,"width":"3","height":"1","label":"Submit","color":"","icon":"","payload":"submit","payloadType":"str","topic":"submit","x":134,"y":1091.9896240234375,"wires":[["700e35a2.f06e4c"]]},{"id":"5a3f6494.bf5c7c","type":"function","z":"6e7a97ae.ecd0f8","name":"","func":"context.msg = context.msg || {};\ncontext.msg.payload = msg.culoare+\":\" + msg.eyesize+\":\"+msg.speeddelay+\":\"+msg.returndelay;\nreturn context.msg;\n\n","outputs":1,"noerr":0,"x":588,"y":1135.5694580078125,"wires":[["a9f9aa11.1b8f48","3befd8ef.2b51d8"]]},{"id":"9570cfc.313ed3","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"ccc454d2.5f8138","order":2,"width":0,"height":0,"name":"eyesize","mode":"text","delay":300,"label":"Eye Size","topic":"size","x":137,"y":1138,"wires":[["700e35a2.f06e4c"]]},{"id":"2efc0627.a6bbda","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"ccc454d2.5f8138","order":3,"width":0,"height":0,"name":"SpeedDelay","mode":"text","delay":300,"label":"Speed Delay","topic":"speed","x":141,"y":1181,"wires":[["700e35a2.f06e4c"]]},{"id":"d5ee5565.119808","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"ccc454d2.5f8138","order":4,"width":0,"height":0,"name":"","mode":"text","delay":300,"label":"Return Delay","topic":"return","x":134,"y":1224,"wires":[["700e35a2.f06e4c"]]},{"id":"3befd8ef.2b51d8","type":"debug","z":"6e7a97ae.ecd0f8","name":"","active":true,"console":"false","complete":"false","x":804,"y":1117,"wires":[]},{"id":"32795567.a5ce0a","type":"ui_text","z":"6e7a97ae.ecd0f8","group":"bef3315a.0c53b","order":0,"width":0,"height":0,"name":"","label":"","format":"Color Wipe","layout":"row-center","x":134,"y":1302,"wires":[]},{"id":"72ccc902.eff558","type":"mqtt out","z":"6e7a97ae.ecd0f8","name":"","topic":"masa/leduri/control/colorwipe","qos":"","retain":"","broker":"81f8c599.6a0168","x":762.0555114746094,"y":1353,"wires":[]},{"id":"7cfe2280.bfb97c","type":"function","z":"6e7a97ae.ecd0f8","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nvar msg2 = [];\nswitch (msg.topic){\n    case 'color':\n        context.msg.culoare = msg.payload;\n       context.msg.tite  = \"tralalal\"\n        break;\n    case 'viteza':\n        context.msg.viteza = msg.payload;\n        \n        break;\n    case 'submit':\n        if(context.msg.topic){\n            \n            context.msg.payload =context.msg.payload +\" \" + context.msg.viteza + context.msg.tite;\n            return [context.msg , null];\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return [context.msg , null];\n        }\n        break;\n   case 'default':\n        context.msg.payload = \"default\";\n        return [null , context.msg];\n}","outputs":"2","noerr":0,"x":398.05548095703125,"y":1431.444580078125,"wires":[["6b5df229.be138c"],["72ccc902.eff558"]]},{"id":"7c99410.b7f76c","type":"ui_text_input","z":"6e7a97ae.ecd0f8","group":"678e3453.f0725c","order":1,"width":"6","height":"1","name":"","mode":"color","delay":300,"label":"","topic":"color","x":146.0555419921875,"y":1385.5556640625,"wires":[["7cfe2280.bfb97c"]]},{"id":"b72b8c66.a3582","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"678e3453.f0725c","order":4,"width":"3","height":"1","label":"Defaults","color":"","icon":"","payload":"default","payloadType":"str","topic":"default","x":134.9895782470703,"y":1439.989651191383,"wires":[["7cfe2280.bfb97c"]]},{"id":"3b3439dd.4e1a96","type":"ui_button","z":"6e7a97ae.ecd0f8","name":"","group":"678e3453.f0725c","order":3,"width":"3","height":"1","label":"Submit","color":"","icon":"","payload":"submit","payloadType":"str","topic":"submit","x":119,"y":1479.989651191383,"wires":[["7cfe2280.bfb97c"]]},{"id":"3b031190.93c96e","type":"ui_numeric","z":"6e7a97ae.ecd0f8","group":"678e3453.f0725c","order":2,"width":0,"height":0,"name":"","label":"Speed","topic":"viteza","format":"{{value}}","min":0,"max":"100","x":105.99652099609375,"y":1527.819485175758,"wires":[["7cfe2280.bfb97c"]]},{"id":"6b5df229.be138c","type":"function","z":"6e7a97ae.ecd0f8","name":"","func":"context.msg = context.msg || {};\ncontext.msg.payload = msg.culoare+\":\" + msg.viteza;\nreturn context.msg;\n\n","outputs":1,"noerr":0,"x":629,"y":1471.569509052937,"wires":[["72ccc902.eff558"]]},{"id":"81f8c599.6a0168","type":"mqtt-broker","z":"6e7a97ae.ecd0f8","broker":"192.168.1.68","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67e59628.238f38","type":"ui_group","z":"","name":"Color Control","tab":"5d29851.0b0757c","order":4,"disp":true,"width":"6"},{"id":"ed6fa34f.dee02","type":"ui_group","z":"","name":"effecte","tab":"5d29851.0b0757c","order":1,"disp":true,"width":"6"},{"id":"bef3315a.0c53b","type":"ui_group","z":"","name":"Running lights","tab":"5d29851.0b0757c","order":2,"disp":true,"width":"6"},{"id":"8730046e.125ae8","type":"mqtt-broker","z":"d565662f.9930a8","broker":"192.168.1.68","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ccc454d2.5f8138","type":"ui_group","z":"","name":"Cylon","tab":"5d29851.0b0757c","order":3,"disp":true,"width":"6"},{"id":"678e3453.f0725c","type":"ui_group","z":"","name":"Color Wipe","tab":"5d29851.0b0757c","order":5,"disp":true,"width":"6"},{"id":"5d29851.0b0757c","type":"ui_tab","z":"","name":"LedController","icon":"dashboard","order":6}]